@font-face {
    font-family: Open-sans;
    src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Open-sans;
    @apply bg-slate-50 dark:bg-slate-800 text-slate-800  dark:text-slate-50 font-sans transition-colors duration-150 ease-in-out;
}

.custom-bullet::before {
    content: '💼';
    padding-right: 2px;
}

.ToasterContainer {
    inset: 0 !important;
    height: 100vh !important;
    width: 100% !important;
}

input[type="search"]::-webkit-search-cancel-button {
    @apply text-slate-50
}